.paper {
    width: 600px;
    font-size: 25px;
    /*font-family: "Lucida Console", "Courier New", monospace;*/
    margin: auto;
    margin-top: 30px;
    background: rgb(255,255,255);
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      /*padding: 0px;*/
}

body{
    /*background-color: rgb(189,188,170);*/
    background-image: url("https://i.pinimg.com/564x/b0/26/f6/b026f6f8d365c6beee27bffbbf6a9722.jpg");
}

.wrap{
    background-image: url("https://i.pinimg.com/564x/96/a2/56/96a256aa200b606b554fd9c21a4b7222.jpg");
    padding-top: 25px;
    padding-bottom: 40px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
}

.footer{
    font-size: 15px;
    padding: 10px;
    color: rgb(195,195,195);
}

input:focus {
    outline:none;
}

.buttonStyle{
    border: none;
    background-color: rgb(255,255,255);
    color: rgb(180,105,108);
    float: right;
}

.title{
    background-color: rgb(224,218,204);
    width: 400px;
    border-radius: 25px;
    margin: auto;
}



